<div class="container">
	<div class="row">
		<div class="col-xs-12">
	        <p class="lead" style="line-height: 1.2;">Select enrollment option <br><small class="text-muted">You can add this vehicle to your existing AT&ampT Mobile Share account, or choose one of our postpaid plans.</small></p>
		</div>
	</div>
	
		
<div class="row">
	<div class="col-xs-12">
		<div class="enrollment-tiles">
			<a href="#/mobile-share" class="enrollment-tile white">
				<h3>AT&T Mobile Share</h3>
				<div><img src="images/myATT.png" alt=""></div>
				<p class="text-muted text-justify">Add this vehicle to your myAT&T Mobile Share account, control the data usage, enable and disable data and add apps.</p>
			</a>
		
		
			<a href="#/services/pay-as-you-go-plans" class="enrollment-tile white">
				<h3>AT&T Drive Platform</h3>
				<div><img src="images/loginLogo.png" alt="" style="padding: .5em;"></div>
				<p class="text-muted">Pay as you go, session plan.</p>
			</a>
		</div>
	</div>
</div>
		
	
</div>