<div ng-if="!activePlan && !purchase">
    <div class="container slide-title" ng-show="vehicle">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="view-title">Choose a plan</h2>
                <h4 class="view-subtitle" ng-cloak>Active: {{vehicle.activePackage.name}}</h4>
            </div>
        </div>
        <br>
    </div>
</div>

<div id="plans-carousel-container" ng-if="!activePlan">
    <att-carousel ng-show="packages">   
            <att-slide ng-repeat="packageSet in packages">
                <div class="row">
                    <div class="col-xs-4 plan-tile" ng-repeat="package in packageSet">
                        <div class="clamp-text"><span ng-bind="package.name"></span></div>
                        <h2 class="font-medium" ng-cloak>{{package.dataUsage.monthlyQuota}}{{package.dataUsage.unit}}</h2>
                        <p ng-cloak>${{package.price}}/mo
                            <span class="text-success small text-uppercase font-medium sep-l-5" ng-if="package.id == vehicle.activePackage.id">Installed</span>
                            <span class="text-primary small text-uppercase font-medium sep-l-5" ng-if="package.id != vehicle.activePackage.id && package.recommended">Recommended</span></p>
                        <button class="btn btn-primary" ng-disabled="package.id == vehicle.activePackage.id" ng-click="setActivePackage(package)">View</button>
                    </div>
                </div>
            </att-slide>  
        </att-carousel>
</div>
<div ng-if="activePlan && !purchase">
    <div class="container">
        <h1 class="main-title">{{activePlan.name}}</h1>
        <h3 class="main-subtitle">${{activePlan.price}}/mo</h3>
    </div>
    <div class="plan-details">
        <att-carousel interval="myInterval">
            <att-slide>
                <div class="plan-description">
                    <p>{{activePlan.description}}</p>
                </div>

            </att-slide>
            <att-slide>
                <div class="included-services">
                <h3>Included services</h3>
                    <ul>
                      <li ng-repeat="service in activePlan.services" ng-bind="service.name"></li>
                   </ul>
                </div>
            </att-slide>
            <att-slide>
                 <div class="included-apps">
                     <h3>Included apps</h3>
                    <ul>
                      <li ng-repeat="app in activePlan.apps">
                          <span class="app-icon">
                              <img ng-src="{{imageRootURL + app.imageUrl}}" alt="">
                          </span>
                          <span class="app-name" ng-bind="app.name"></span>
                      </li>
                   </ul>
                 </div>
            </att-slide>
        </att-carousel>
    </div>
    <div class="container">
        <div>
            <button class="btn btn-default sep-r-24" ng-click="activatePlan()">Activate</button>
            <button class="btn btn-default" ng-click="setActivePackage(null)">Cancel</button>
        </div>
    </div>
</div>

<div ng-show="purchase">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>{{activePlan.name}}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <table class="services-table">
                    <thead>
                        <tr>
                            <th>Additional services</th>
                            <th></th>
                            <th class="price">$5.59</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>Smart Messages</td>
                            <td class="remove"><a href="#">Remove</a></td>
                            <td class="price">$3.59</td>
                        </tr>
                        <tr>
                            <td>Backseat entertainment</td>
                            <td class="remove"><a href="#">Remove</a></td>
                            <td class="price">$2.00</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <hr>
                <table class="summary-table">
                    <thead>
                        <tr>
                            <th>Due monthly</th>
                            <th class="price">$10.00</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <span>Discount</span>

                            </td>
                            <td class="price">$0.00</td>
                        </tr>
                        <tr>
                            <td>
                                <span>Tax</span>

                            </td>
                            <td class="price">$1.99</td>
                        </tr>
                        <tr>
                            <td>Total:</td>
                            <td class="price"><strong>$17.58</strong></td>
                        </tr>
                    </tbody>
                </table>
                
                
            </div>
        </div>
    </div>
    
    
    <br />
    <br />
    <div class="purchase">
        <button class="btn btn-default" ng-click="purchasePlan()">Purchase</button>
        
        <input type="checkbox" id="autoRenew" name="huse" ng-model="autoRenewPayment" />
        <label for="autoRenew"><span></span><small>Auto-renew</small></label>
        <span class="billed-to" ng-cloak>Billed to: {{primaryDriver.firstName}} {{primaryDriver.lastName}}</span>
    </div>
</div>
