<div class="container">
    
    <h1 class="main-title">Infotainment 8GB</h1>
    <h3 class="main-subtitle">$15.99/mo</h3>
</div>
    <div class="plan-details">
            <att-carousel interval="myInterval">
            <att-slide>
                <div class="plan-description">
                    <p>All of the benefits of Safety and Security (including diagnostics and crash notifications) plus voice enabled infotainment service packaged together with your favorite apps.</p>
                </div>

            </att-slide>
            <att-slide>
                <div class="included-services">
                <h3>Included services</h3>
                    <ul>


                      <li>Automatic crash response</li>
                      <li>eCall functionality</li>
                      <li>Voice enabled controls</li>
                      <li>Stolen vehicle location</li>
                      <li>Roadside assistance</li>
                      <li>Remote vehicle assistance</li>
                      <li>Vehicle diagnostics services</li>
                      <li>Voice enabled controls</li>
                      <li>Stolen vehicle location</li>
                      <li>Roadside assistance</li>
                      <li>Remote vehicle assistance</li>
                      <li>Vehicle diagnostics services</li>
                   </ul>
                </div>

            </att-slide>
            <att-slide>
                 <div class="included-apps">
                     <h3>Included apps</h3>
                    <ul>
                      <li>
                          <span class="app-icon">
                              <img src="../../images/app-icon.png" alt="">
                          </span>
                          <span class="app-name">Accuweather</span>
                      </li>
                      <li>
                          <span class="app-icon">
                              <img src="../../images/app-icon.png" alt="">
                          </span>
                          <span class="app-name">Accuweather</span>
                      </li>
                       <li>
                          <span class="app-icon">
                              <img src="../../images/app-icon.png" alt="">
                          </span>
                          <span class="app-name">Accuweather</span>
                      </li>
                       <li>
                          <span class="app-icon">
                              <img src="../../images/app-icon.png" alt="">
                          </span>
                          <span class="app-name">Accuweather</span>
                          
                      </li>
                       <li>
                          <span class="app-icon">
                              <img src="../../images/app-icon.png" alt="">
                          </span>
                          <span class="app-name">Accuweather</span>
                      </li>
                       <li>
                          <span class="app-icon">
                              <img src="../../images/app-icon.png" alt="">
                          </span>
                          <span class="app-name">Accuweather</span>
                      </li>

                   </ul>
                 </div>
            </att-slide>
        </att-carousel>
    </div>
<div class="container">
        <div>
        <button class="btn btn-default sep-r-24">Activate</button>
        <button class="btn btn-default">Cancel</button>
    </div>
</div>


