<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2>Infotainment 8GB</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <table class="services-table">
                <thead>
                    <tr>
                        <th>Additional services</th>
                        <th></th>
                        <th class="price">$5.59</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td>Smart Messages</td>
                        <td class="remove"><a href="#">Remove</a></td>
                        <td class="price">$3.59</td>
                    </tr>
                    <tr>
                        <td>Backseat entertainment</td>
                        <td class="remove"><a href="#">Remove</a></td>
                        <td class="price">$2.00</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <hr>
            <table class="summary-table">
                <thead>
                    <tr>
                        <th>Due monthly</th>
                        <th class="price">$10.00</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <span>Discount</span>

                        </td>
                        <td class="price">$0.00</td>
                    </tr>
                    <tr>
                        <td>
                            <span>Tax</span>

                        </td>
                        <td class="price">$1.99</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="purchase">
    <button class="btn btn-default">Purchase</button>
    <h3 class="total">Total: $17.58</h3>
    <h3 class="billed-to">Billed to: Andrew Smith</h3>
</div>


