<div class="content-pad">
        <h1 class="main-title">Digital Life</h1>
        <h3 class="main-subtitle">Home automation</h3>
        <div class="row">
            <div class="col-md-7" style="width: 450px !important; float: left; diplay: inline;">
                <p class="separate-top-30 text-white">Stay connected and in control. This app lets AT&amp;T Digital Life customers view and control their Digital Life system while on the go. An active Digital Life account is required.</p>
            </div>
            <div class="col-md-5 text-center">
                <img src="images/app-accuweather.png" class="separate-top-30" />
            </div>
        </div>
        <p style="position: absolute; top: 350px; color: #ccc">Copyright &copy;AT&amp;T, 2014.</p>
</div>
