<div class="container">
    <div class="row">
        <div class="col-xs-1 v-spacing">
            <img class="profile-picture" src="images/avatar.png" alt="">
        </div>
        <div class="col-xs-11 v-spacing">
            <h2 class="view-title">{{user.firstName}} {{user.lastName}}
                <br />
            </h2>
        </div>
    </div>
    <div style="position: absolute; bottom: 24px; width: 100%;">
        <button class="btn btn-danger" style="display: block; margin-bottom: 5px;" ng-click="signOut()">Sign out</button>
        <small class="uppercase gray-text sep-t-10">You can manage this information on drive.com</small><br>
    </div>
</div>
