<div class="container" ng-show="user">
    <div class="row billing-details">
        <div class="col-xs-4" ng-if="enabled">
            <span>Using {{user.firstName}} {{user.lastName}} {{ user.billingInfo.cardNumber | ccname }} ending in {{user.billingInfo.cardNumber.substr(id.length - 4)}}</span>
        </div>
    </div>

    <div class="row" ng-if="user">
        <div class="col-xs-4">
            <label class="font-medium">Use card for purchases</label>
            <att-toggle-switch class="v-spacing" ng-model="savePaymentMethod" disabled="{{!enabled}}" on-change="changePaymentMethod()"></att-toggle-switch>
        </div>
        <div class="col-xs-5">
            <label class="font-medium">Prompt for pin during purchase</label>
            <att-toggle-switch ng-model="pinForPurchase" disabled="{{!enabled}}" on-change="changePinForPurchase()"></att-toggle-switch>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 sep-t-10">
            <small class="uppercase gray-text">You can manage these settings on drive.com</small>
        </div>
    </div>
</div>
