
<div class="container padding">
        <h1 class="main-title">Examples</h1>
        <h3 class="main-subtitle">{{currentDate | date: 'EEEE, MMMM dd'}}</h3>
        <div class="column-large separate-top-70">
            <div class="separate-bottom-10" style="display: inline !important;">
             <a href="./weather/"><div class="col-md-3 text-center weather-column">
                <h3 class="font-medium"> </h3>
                <img src="weather/images/app-accuweather.png" class="separate-right-10" >
                <h3 class="display-inline">Weather</h3>
            </div></a>
            <a href="./digitallife/"><div class="col-md-3 text-center weather-column">
                <h3 class="font-medium"> </h3>
                <img src="/digitallife/images/app-accuweather.png" class="separate-right-10">
                <h3 class="display-inline">Digital Life</h3>
            </div>
           </a>
        </div>
    </div>
</div>
