<div class="container">
    
    
    <div class="app-details">
        
        <div class="row">
            <div class="col-xs-12">
                            <div class="left">
                <span class="app-icon">
                    <img ng-src="{{config.API.host}}{{app.imageUrl}}" alt="app logo">
                </span>
                <div class="price">
                    ${{app.price}}/mo
                </div>
                <div class="text-success" ng-show="app.installed">
                    INSTALLED
                </div>
                <div class="text-danger" ng-show="!app.installed">
                    UNINSTALLED
                </div>

            </div>
            <div class="right">
            <h1 class="main-title">{{app.name}}</h1>
                <p>{{app.description}}</p>
                <p><a href="">License Agreement</a></p>
                <div class="technical-details">
                    <ul>
                        <li>Category: {{app.category}}</li>
                        <li>Updated: {{app.updated | date: 'MMMM dd, yyyy'}}</li>
                        <li>Version: {{app.version}}</li>
                        <li>Size: {{app.size}} MB</li>
                    </ul>
                </div>
            </div>
            </div>
        </div>

        <div class="buttons">
            <button class="btn btn-default" ng-show="!app.installed" ng-click="setInstallStatus(app, true)">{{app.price > 0 ? 'Purchase' : 'Install'}}</button>
            <button class="btn btn-default" ng-show="app.installed" ng-click="setInstallStatus(app, false)">Uninstall</button>
            <button class="btn btn-default" ng-click="goToAppsPage()">Cancel</button>
        </div>  
    </div>

</div>
